; Remove this line and copy this file to profiles.clj, then update the values
{:dev
    {:env
        {:log-file "/Users/JohnMcCarthy/anxietybox/logs/clojure.log"
        :postgres-hostname "localhost"
        :postgres-database "anxietybox"
        :postgres-user "john"
        :postgres-password ""
        :smtp-username "PLEASE-CHANGE-ME"
        :smtp-password "PLEASE-CHANGE-ME"
        :domain-name "your.anxietybox.domain"
        :from-email "Your Anxiety <your.email@example.com>"
        }
    }
}
